In [1]:
import pandas as pd
import getpass
from datetime import date

def sort_21(exp):
    
    exp=str(exp)
    sum=0
    
    bad_chars = ['m', 'o', 'n','t','h','s'] 
    for i in bad_chars : 
        exp = exp.replace(i, '')
    year=exp.split(" ")
    year_1=year[0]
    #print(year,exp)
    month=year[2]
    #sum=year_1
    #print(month)
    if month=="0":
        return(year_1)
    else:
        sum=round(int(year_1)+int(month)/12,2)
    #print(sum)
        return sum
    
def sort_ctc(exp):
    exp=str(exp)
    sum=0
    
    bad_chars = ['T', 'h', 'o','u','s','a','n','d','(',')','L','k'] 
    for i in bad_chars : 
        exp = exp.replace(i, '')
    #print(exp)
    ctc=exp.split(" ")
    #print(ctc)
    lakh=ctc[0]
    thou=ctc[2]
    #print(lakh,thou)
    if lakh=="0":
        #print("yess")
        return ("0")
    if thou==0:
        return lakh
    else:
        #print(thou)
        sum=lakh+"."+thou
    #print(sum)
        return sum

def sort_no(no):
    import numpy as np
    no=str(no)
    
    if len(no)==10:
        return (no)
    else:
        return(np.nan)
    
file="sales delhi data.. one lakh .xlsx"
file_name="data/sales delhi data.. one lakh .xlsx"
dfs = pd.read_excel(file_name, sheet_name="Sales Delhi")

df1=dfs

df1["experience"]= df1["experience"].replace("Years",'',regex=True) 
df1['experience']=df1['experience'].apply(sort_21)


df1['ctc']=df1['ctc'].apply(sort_ctc)

df1['phone']=df1['phone'].apply(sort_no)
df1['phone2'] = df1['phone2'].str.split('-').str[1]
df1['phone2']=df1['phone2'].apply(sort_no)

df1['filename']=file


today = date.today()

user_name=getpass.getuser()

created_by="Sumesh Shetty"
creation_date="2019-11-19"

df1['creation_date']=creation_date
df1['created_by']=created_by

df1['modified_by']=user_name
df1['modified_date']=today 

df1.to_excel("processed/"+file,index=False)

In [90]:
import pandas as pd
import numpy as np

def sort_exp_job(sal):
    #job=str(job).strip()
    if str(sal)=="NaN" or str(sal)=="nan":
        return 0
    else:
        
        sal=int(sal)
        #print (type(sal))
        return sal*0.00001
    
import numpy as np
def sort_exp_month(mon):
    #job=str(job).strip()
    if str(mon)=="NaN" or str(mon)=="nan":
        return 0
    else:
        
        mon=int(mon)
        #print (type(sal))
        return mon/12

file="JOB-SEEKERS.xlsx"
file_name="data/JOB-SEEKERS.xlsx"
df_j = pd.read_excel(file_name, sheet_name="Sheet1")

df_5=df_j
df_5['ctc'] = df_5['ctc'].str.split(' ').str[0]
df_5["ctc"]= df_5["ctc"].replace(",",'',regex=True) 
df_5['ctc']=df_5['ctc'].apply(sort_exp_job)

df_5['experience']=df_5['experience'].str.split(' ').str[0]
df_5['experience']=df_5['experience'].apply(sort_exp_month)

df_5['filename']=file

import pandas as pd
import getpass
from datetime import date
today = date.today()

user_name=getpass.getuser()

created_by="Sumesh Shetty"
creation_date="2019-11-19"

df_5['creation_date']=creation_date
df_5['created_by']=created_by

df_5['modified_by']=user_name
df_5['modified_date']=today 

df_5.to_excel("processed/"+file,index=False)

In [92]:
df_5=df_j

In [93]:
df_5['ctc'] = df_5['ctc'].str.split(' ').str[0]

In [94]:
df_5["ctc"]= df_5["ctc"].replace(",",'',regex=True)

In [102]:
import numpy as np
def sort_exp_job(sal):
    #job=str(job).strip()
    if str(sal)=="NaN" or str(sal)=="nan":
        return 0
    else:
        
        sal=int(sal)
        #print (type(sal))
        return sal*0.00001

In [103]:
import numpy as np
def sort_exp_month(mon):
    #job=str(job).strip()
    if str(mon)=="NaN" or str(mon)=="nan":
        return 0
    else:
        
        mon=int(mon)
        #print (type(sal))
        return mon/12

In [108]:
km = df_5['experience'].str.split(' ').str[0]

In [110]:
df_5['experience']=df_5['experience'].str.split(' ').str[0]

In [111]:
ks=df_5['experience'].apply(sort_exp_month)

In [113]:
df_5['experience']=df_5['experience'].apply(sort_exp_month)

In [ ]:
def sort_final_month(mon):
    mon=str(mon)
    if len(mon)==1 or len(mon)==2:
        return round(int(mon)/12,2)
    else:
        if mon=="Nan" or mon=="nan":
            return mon
        else:
            mon.split(' ')
            
            mon=int(mon[0])
            return round(mon/12,2)

In [117]:
file="JOB-SEEKERS.xlsx"
file_name="data/JOB-SEEKERS.xlsx"
df_j = pd.read_excel(file_name, sheet_name="Sheet1")

In [146]:
s

0         0.08
1          0.5
2         0.25
3         1.17
4          0.5
5          2.5
6         0.08
7          0.5
8          0.5
9          0.5
10        0.08
11         0.5
12        0.08
13        1.42
14        0.17
15        0.25
16        0.08
17         0.5
18         0.5
19        0.08
20         0.5
21        0.25
22        0.25
23         0.5
24        0.42
25        0.08
26        0.33
27         0.5
28         0.5
29        0.25
          ...
599778     0.5
599779    0.33
599780    0.17
599781     0.5
599782     0.5
599783    0.83
599784     0.5
599785    0.25
599786     0.5
599787    0.17
599788     0.5
599789     0.5
599790    0.33
599791    0.33
599792    0.25
599793     0.5
599794    0.25
599795    0.67
599796    0.25
599797    0.17
599798    0.33
599799    0.08
599800    0.08
599801    0.33
599802    0.25
599803    0.42
599804    0.25
599805    0.33
599806     nan
599807     nan
Name: experience, Length: 599808, dtype: object

In [ ]:
d_j['expe']=df_j['experience'].apply(sort_final_month)

In [148]:
import pandas as pd
import numpy as np

def sort_exp_job(sal):
    #job=str(job).strip()
    if str(sal)=="NaN" or str(sal)=="nan":
        return 0
    else:
        
        sal=int(sal)
        #print (type(sal))
        return sal*0.00001
    
import numpy as np
def sort_exp_month(mon):
    #job=str(job).strip()
    if str(mon)=="NaN" or str(mon)=="nan":
        return 0
    else:
        
        mon=int(mon)
        #print (type(sal))
        return mon/12
    
def sort_final_month(mon):
    mon=str(mon)
    if len(mon)==1 or len(mon)==2:
        return round(int(mon)/12,2)
    else:
        if mon=="Nan" or mon=="nan":
            return mon
        else:
            mon.split(' ')
            
            mon=int(mon[0])
            return round(mon/12,2)
    
file="JOB-SEEKERS.xlsx"
file_name="data/JOB-SEEKERS.xlsx"
df_j = pd.read_excel(file_name, sheet_name="Sheet1")

df_5=df_j
df_5['ctc'] = df_5['ctc'].str.split(' ').str[0]
df_5["ctc"]= df_5["ctc"].replace(",",'',regex=True) 
df_5['ctc']=df_5['ctc'].apply(sort_exp_job)

#df_5['experience']=df_5['experience'].str.split(' ').str[0]
#df_5['experience']=df_5['experience'].apply(sort_exp_month)
df_5['experience']=df_5['experience'].apply(sort_final_month)
df_5['filename']=file

import pandas as pd
import getpass
from datetime import date
today = date.today()

user_name=getpass.getuser()

created_by="Sumesh Shetty"
creation_date="2019-11-19"

df_5['creation_date']=creation_date
df_5['created_by']=created_by

df_5['modified_by']=user_name
df_5['modified_date']=today 

df_5.to_excel("processed/"+file,index=False)